<!-- About
     ============================================= -->
<div class="container mw-md pt-lg-3">
  <div class="row align-items-center justify-content-between">
	<div class="col-md-5">
	  <h2 class="display-2 fw-bolder text-uppercase ls-2">{{ .Page.name }}</h2>
      {{ if .Page.summary }}
      <blockquote class="fs-6 border-color">
        <p class="mb-0">{{ .Page.summary }}</p>
      </blockquote>
      {{ end }}
      {{ if .Page.quote }}
	  <blockquote class="fs-6 border-color">
        <p>{{ .Page.quote }}</p>
        <footer class="blockquote-footer font-monospace mb-0">{{ .Page.quotee }}</footer>
      </blockquote>
      {{ end }}
	</div>

	<div class="col-md-7">
	  <img src="{{ .Page.bigProfilePicture }} " alt="Stephen's Profile Picture">
	</div>
  </div>
</div>
