<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="Stephen Herbein">
	<meta name="description" content="The personal site of Stephen Herbein, a software engineer.">

	<!-- Font Imports -->
	<link rel="stylesheet" href="https://use.typekit.net/mym7qil.css">

    {{ range $cssName := $.Site.Data.css.themeFiles }}
    {{ with resources.Get $cssName }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    {{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>{{.Title}}</title>

</head>
